<div class="card-user" data-author="{{ chef.id }}">
    <div class="card-user__header">
        <h2 class="card-user__title">{{ chef.get_full_name }}</h2>
    </div>

    <div class="card-user__body">
        <ul class="card-user__items">
            {% for recipe in chef.recipes.all|slice:":3" %}
                <li class="card-user__item">
                    <div class="recipe">
                        {% load thumbnail %}
                        {% thumbnail recipe.image "364x240" crop="center" upscale=True as im %}
                        <img src="{{ im.url }}" alt="{{ recipe.title }}" class="recipe__image">
                        {% endthumbnail %}
                        <h3 class="recipe__title">{{ recipe.title }}</h3>
                        <p class="recipe__text"><span class="icon-time"></span> {{ recipe.duration }} мин.</p>
                    </div>
                </li>
            {% endfor %}

            {% if chef.recipes.count > 3 %}
                <li class="card-user__item">
                    <a href="{% url 'profile' chef.username %}" class="card-user__link link">Еще {{ chef.recipes.count|add:"-3" }} рецептов...</a>
                </li>
            {% endif %}
        </ul>
    </div>

    <div class="card-user__footer">
        <button class="button button_style_light-blue button_size_auto" name="subscribe" onClick="refreshPage()">Отписаться</button>
    </div>
    
</div>