<nav class="nav">
    <div class="nav__container container">
          {% if user.is_authenticated %}
          <ul class="nav__items list">
            {% if request.resolver_match.view_name == 'index' %}<li class="nav__item nav__item_active">{% else %}<li class="nav__item">{% endif %}<a href="{% url 'index' %}" class="nav__link link">Рецепты</a></li>
            {% if request.resolver_match.view_name == 'follow_index' %}<li class="nav__item nav__item_active">{% else %}<li class="nav__item">{% endif %}<a href="{% url 'follow_index' %}" class="nav__link link">Мои подписки</a></li>
            {% if request.resolver_match.view_name == 'new_recipe' %}<li class="nav__item nav__item_active">{% else %}<li class="nav__item">{% endif %}<a href="{% url 'new_recipe'  %}" class="nav__link link">Создать рецепт</a></li>
            {% if request.resolver_match.view_name == 'favorite' %}<li class="nav__item nav__item_active">{% else %}<li class="nav__item">{% endif %}<a href="{% url 'favorite' %}" class="nav__link link">Избранное</a></li>
            {% if request.resolver_match.view_name == 'shopping_list' %}<li class="nav__item nav__item_active">{% else %}<li class="nav__item">{% endif %}<a href="{% url 'shopping_list' %}" class="nav__link link">Список покупок</a> <span class="badge badge_style_blue nav__badge" id="counter">{% if count %}{{ count }}{% endif %}</span></li>    
          </ul>
          <ul class="nav__items list">
            {% if request.resolver_match.view_name == 'PasswordChangeView' %}<li class="nav__item nav__item_active">{% else %}<li class="nav__item">{% endif %}<li class="nav__item"><a href="{% url 'password_change' %}" class="nav__link link">Изменить пароль</a></li>
            <li class="nav__item"><a href="{% url 'logout' %}" class="nav__link link">Выход</a></li>
          </ul>
          {% else %}
          <ul class="nav__items list">
              {%if request.resolver_match.view_name == 'index' %}<li class="nav__item nav__item_active">{% else %}<li class="nav__item">{% endif %}<li class="nav__item nav__item_active"><a href="{% url 'index' %}" class="nav__link link">Рецепты</a></li>
          </ul>
          <ul class="nav__items list">
              {% if request.resolver_match.view_name == 'LoginView' %}<li class="nav__item nav__item_active">{% else %}<li class="nav__item">{% endif %}<li class="nav__item"><a href="{% url 'login' %}" class="nav__link link">Войти</a></li>
              {% if request.resolver_match.view_name == 'SignUp' %}<li class="nav__item nav__item_active">{% else %}<li class="nav__item">{% endif %}<li class="nav__item"><a href="{% url 'signup' %}" class="button button_style_blue">Создать аккаунт</a></li>
          </ul>
          {% endif %}
    </div>
</nav>
