<li class="shopping-list__item" data-id="{{ recipe.id }}">
    <div class="recipe recipe_reverse">
        {% load thumbnail %}
        {% thumbnail recipe.image "364x240" crop="center" upscale=True as im %}
        <img src="{{ im.url }}" alt="{{ recipe.title }}" class="recipe__image recipe__image_big">
        {% endthumbnail %}
        <h3 class="recipe__title">{{ recipe.title }}</h3>
        <p class="recipe__text"><span class="icon-time"></span> {{ recipe.duration }} мин.</p>
    </div>
    <a href="#" class="shopping-list__button link" name="purchases">Удалить</a>
</li>