{% extends 'base.html' %}

{% block title %}
      Пароль сброшен
{% endblock %}

{% load static %} 
{% block css %}
    <link rel="stylesheet" href="{% static 'pages/form.css' %}" />
{% endblock %}

{% block header %}
      <div class="main__header">
            <h1 class="main__title">Пароль сброшен</h1>
      </div>
{% endblock %}

{% block content %}
      <div class="form-container">
            <div class="form">
                  <p class="form__info-text">Проверьте свою почту, вам должно прийти письмо со ссылкой для восстановления пароля</P>
                  <a href="{% url 'index' %}"><button class="button button_style_blue">Вернуться на главную</button></a>
            </div>
      </div>
{% endblock %}
