{% extends 'base.html' %} 
{% load recipes_extras %}

{% block title %} 
    Рецепты 
{% endblock %}

{% load static %} 
{% block css %}
    <link rel="stylesheet" href="{% static 'pages/index.css' %}" />
{% endblock %} 

{% block header %}
    <div class="main__header">
    <h1 class="main__title">Рецепты</h1>
    {% include 'includes/tags.html' %}
    </div>
{% endblock %}

{% block content %}
    {% csrf_token %}
    <div class="card-list">
        {% for recipe in index %}
            {% include 'includes/recipe_card.html' with page=page %}
        {% endfor %}
    </div>

{% if page_obj.has_other_pages %}
    {% include "includes/paginator.html" with items=page paginator=paginator %}
{% endif %}

{% endblock %} 

{% block js %}
    <script src="{% static 'js/config/config.js' %}"></script>
    <script src="{% static 'js/components/MainCards.js' %}"></script>
    <script src="{% static 'js/components/Purchases.js' %}"></script>
    <script src="{% static 'js/components/Favorites.js' %}"></script>
    <script src="{% static 'js/config/config.js' %}"></script>
    <script src="{% static 'js/components/CardList.js' %}"></script>
    <script src="{% static 'js/components/Header.js' %}"></script>
    <script src="{% static 'js/api/Api.js' %}"></script>
    <script src="{% static 'indexAuth.js' %}"></script>
    <script src="{% static 'indexNotAuth.js' %}"></script>
{% endblock %} 