{% extends 'base.html' %} 
{% load recipes_extras %}

{% block title %} 
    Список покупок 
{% endblock %}

{% load static %} 
{% block css %}
    <link rel="stylesheet" href="{% static 'pages/shopList.css' %}" />
{% endblock %} 

{% block header %}
    <div class="main__header">
    <h1 class="main__title">Список покупок</h1>
    </div>
{% endblock %}

{% block content %}
<div class="card-list card-list_column">
    {% csrf_token %}
    <ul class="shopping-list">
        {% for recipe in shopping_list %}
                {% include "includes/shop_card.html" %}
        {% endfor %}
    </ul>
    {% if shopping_list %}
    <a href="{% url 'shoplist_download' %}"><button class="button button_style_blue">Скачать список</button></a>
    {% else %}
    <p>Ваш список покупок пуст!</p>
    <a href="{% url 'index' %}"><button class="button button_style_blue">Вернуться на главную</button></a>
    {% endif %}
</div>

{% endblock %} 

{% block js %}
<script src="{% static 'js/config/config.js' %}"></script>
<script src="{% static 'js/components/Header.js' %}"></script>
<script src="{% static 'js/components/ShopList.js' %}"></script>
<script src="{% static 'js/api/Api.js' %}"></script>
<script src="{% static 'shopList.js' %}"></script>
{% endblock %} 